@page "/editor"
@using BlazorMonaco.Editor
@using MonacoEditorSandbox.Data
@inject PythonService PythonService

<style>
    .editor {
        height: 500px;
        width: auto;
    }
</style>

<h3>Code Editor</h3>

<div>
    <StandaloneCodeEditor @ref="_editor" Id="sample-code-editor-123" CssClass="editor" ConstructionOptions="EditorConstructionOptions" />
</div>

<button @onclick="RunScript">Run Script</button>

<div>
    <pre>@output</pre>
</div>

@code {
    private BlazorMonaco.Editor.StandaloneCodeEditor _editor = null!;
    private string output = "";

    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            Language = "python",
            GlyphMargin = true,
            Value = "print('Hello world');\n"
        };
    }
    
    
    private async Task RunScript()
    {
        var script = await _editor.GetValue();
        output = await PythonService.RunScriptAsync(script);
        StateHasChanged();
    }
}